@import url(reset.css);
@import url(style.css);

body {
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    padding: 20px;
    box-sizing: border-box;
}

.meme-container {
    text-align: center;
    max-height: 70vh;
    max-width: 90vw;
}

.meme-container img {
    max-height: 50vh;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.meme-container p {
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    word-wrap: break-word;
    max-width: 100%;
    color: white;
    width: 100%;
}

.buttons-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

@media (max-width: 640px) {
    .meme-container img {
        max-height: 35vh;
    }

    .meme-container p {
        font-size: 0.9em; 
    }

    .button {
        padding: 8px 15px; 
        font-size: 1.1em;
    }
}